.product-content {
  margin: auto;
  display: block;
  text-align: center
}

.product-search-bar {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main-content{
  padding-top:116px;
  min-height:100vh
}

aside.menu-sidebar.d-none.d-lg-block.clr{
  background:0 0;
  z-index:99999999;
  height:75px;
  box-shadow:-2px 0 4px #0000003b
}


.menu-sidebar{
  width:200px;
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  background:#fff;
  overflow-y:auto
}

.menu-sidebar .navbar-list .navbar-sub-list{
  display:none;
  padding-left:34px
}

.menu-sidebar .navbar-list .navbar-sub-list li a{
  padding:11.5px 0
}

.menu-sidebar-content{
  position:relative;
  height:-webkit-calc(100vh - 75px);
  height:-moz-calc(100vh - 75px);
  height:calc(100vh - 75px)
}

.navbar-sidebar{
  padding:35px;
  padding-bottom:0
}

.navbar-sidebar .navbar-list li a{
  display:block;
  color:#555;
  font-size:16px;
  padding:5px 0
}

.navbar-sidebar .navbar-list li a i{
  margin-right:19px
}

.navbar-sidebar .navbar-list li a:hover{
  color:#0da8e4
}

.active-link {
  font-weight: bold;
}

