.product-search-bar {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.catEntry {
  text-align: left;
}

.hotItems {
  text-align: center;

}

.newItems {
  text-align: center;
}

.product-content {
  margin: auto;
  display: block;
  text-align: center
}

.itemDescriber {
  font-size: medium;
}

.items {
  text-align: center;
}

a:hover {
  color: lightskyblue;
  text-decoration: none;
}

