<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid mt-5">

      <div *ngIf="products.length > 0">
        <table class="table cartTable table-bordered table-md">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th colspan="2" headers="Item">Item</th>
            <th scope="col">Stock</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cartItem of products">
            <td>Item # <br>{{cartItem.id}}</td>
            <td headers="Item"><img src="{{cartItem.imageUrl}}" alt="" class="img-responsive" height="100"/></td>
            <td>{{cartItem.description | titlecase}}</td>
            <td *ngIf=" cartItem.stock === 0 " class="stock">Out Of Stock</td>
            <td *ngIf=" cartItem.stock > 0" class="stock">In Stock</td>
<!--            <td *ngIf=" cartItem.stock < 10 " class="stock">Low Stock</td>-->
            <td>{{cartItem.unitPrice| currency:'USD'}}</td>
            <td>
              <div class="items">
                <div class="row no-gutters">
                  <div class="col">
                    <button (click)="incrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <div class="item-quantity-in-cart col-2 ml-4 mr-2">{{cartItem.quantity}}</div>
                  <div class="col">
                    <button (click)="decrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col cart-remove-item-button">
                    <button (click)="remove(cartItem)" class="btn btn-danger btn-sm mt-2">
                      Remove
                    </button>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <p class="mt-2"> {{cartItem.unitPrice * cartItem.quantity | currency:'USD'}}</p>
            </td>
          </tr>
          <tr>
            <td class="checkout-button" colspan="7" style="font-weight:bold">
              <p>Total Quantity : {{totalQuantity}}</p>
              <p>Total Price : {{totalPrice | currency:'USD'}}</p>
              <a routerLink="/checkout" class="btn btn-success">Checkout</a><!-- RESTRICT THIS -->
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="products.length === 0" class="alert alert-warning col-md-12" role="alert">Your Shopping Cart is
        Empty
      </div>


    </div>
  </div>
</div>
