.container {
  margin-top: 100px;
}

.title{
  font-size: 27px;
}

img {
  margin-left: auto;
  min-width: 400px;
  min-height: 400px;
  max-width: 500px;
  max-height: 500px;
  display: block;
}

.product-details {
  text-align: right;
  font-size: small;
}

.text{
  font-size: 20px;
}

.title{
  font-size: 27px;
}

.reviewBtn{
  text-align: center;
}
